@model List<BusinessLayer.Achievement>
@using BusinessLayer;
@{
    ViewData["Title"] = "EditAchievements";
}

<h2>Edit Achievements</h2>

<form asp-action="EditProfileAchievements" asp-controller="Profiles" asp-antiforgery="true">
    <div class="form-group">
        <table>
            <tr>
                <td><b>Place</b></td>
                <td></td>
                <td><b>Event</b></td>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td width="135"><input type="number" min="1" asp-for="@Model[i].Rank" class="form-control" /></td>
                    <td width="20"><span></span></td>
                    <td width="590"><select asp-for="@Model[i].Event" asp-items="@Html.GetEnumSelectList<Events>()" class="form-control"></select></td>
                </tr>
            }
        </table>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
