
@model Fortnite_LFG_Hub.Models.User

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="text-center">
    <form asp-action="Auth" asp-controller="User" width="500">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <span asp-validation-for="Username"></span>
        <input type="text" class="form-control" placeholder="Username" />
        <input type="text" class="form-control" placeholder="Password" />
        <div class="checkbox">
            <label>
                <input type="checkbox">Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
</div>